# Please paste flume.conf here. Example:

# Sources, channels, and sinks are defined per
# agent name, in this case 'tier1'.
tier1.sources=emailsSrc
tier1.channels=emailsChannel solrChannel
tier1.sinks=emailsSink solrSink


# For each source, channel, and sink, set
# standard properties.
#tier1.sources.emailsSrc.command=tail -F /tmp/emails.txt
#tier1.sources.emailsSrc.type=exec
#tier1.sources.emailsSrc.command=cat /tmp/emails/emails_sample.txt
tier1.sources.emailsSrc.type=spooldir
tier1.sources.emailsSrc.spoolDir =/tmp/emails/spool
tier1.sources.emailsSrc.deserializer = org.apache.flume.sink.solr.morphline.BlobDeserializer$Builder
tier1.sources.emailsSrc.deletePolicy=immediate
tier1.sources.emailsSrc.channels=emailsChannel solrChannel
tier1.sources.emailsSrc.selector.type=replicating


 tier1.channels.emailsChannel.type=memory
tier1.channels.solrChannel.type=memory


# HDFS Sink
tier1.sinks.emailsSink.type=hdfs
tier1.sinks.emailsSink.hdfs.path=/user/flume
tier1.sinks.emailsSink.hdfs.filePrefix=email_log
tier1.sinks.emailsSink.hdfs.rollSize=102400000
tier1.sinks.emailsSink.hdfs.batchSize=10000
tier1.sinks.emailsSink.hdfs.rollCount=0
tier1.sinks.emailsSink.hdfs.minBlockReplicas=1
tier1.sinks.emailsSink.hdfs.txnEventMax=10000
tier1.sinks.emailsSink.hdfs.callTimeout=1000000
tier1.sinks.emailsSink.channel=emailsChannel

# SOLR Sink
tier1.sinks.solrSink.type=org.apache.flume.sink.solr.morphline.MorphlineSolrSink
tier1.sinks.solrSink.channel=solrChannel
tier1.sinks.solrSink.morphlineFile=/tmp/morphline.conf


# Other properties are specific to each type of
# source, channel, or sink. In this case, we
# specify the capacity of the memory channel.
tier1.channels.emailsChannel.capacity=100000000
tier1.channels.emailsChannel.transactionCapacity=10000000

tier1.channels.solrChannel.capacity=100000000
tier1.channels.solrChannel.transactionCapacity=10000000

